+box-article({
  category: 'Travel',
  heading: 'Best of Minnesota 2015:Revealing what rocks',
  description: 'I whipped the Scotch tape from my pocket and said',
  like: '298',
  comment: '12',
  time: '1 day ago',
  type: 'House'
})
