+box-article({
  category: 'Travel',
  heading: 'Best of Minnesota 2015',
  description: 'I whipped the Scotch tape from my pocket and said',
  like: '298',
  comment: '12',
  time: '5 hours ago',
  type: 'Sea'
})
