+box-article({
  category: 'Travel',
  heading: 'Reading Hemingways Personal Letters',
  description: 'There isnt much that hasnt been said about Ernest Miller',
  like: '308',
  comment: '34',
  time: '2 days ago',
  type: 'Alleyway'
})
