+box-article-main({
  category: 'Cars & Moto',
  heading: 'The 2015 Best-Dressed list:How Kate Middleton',
  description: 'Aenean lacina bibendum nulla sed consecteur.Aenean eu leo quam.Pellentesque ornare sem lacina quam venenatis vestibulum',
  like: '273',
  comment: '23',
  time: '3 hours ago'
})
