+box-article-main({
  category: 'Style',
  heading: 'Earnes Molded Fiberglass Side Chair',
  description: 'The Earnes Molded Fiberglass Side Chair with Wire Base is an iconic piece of Amercian design history',
  buttonFirst: 'Read More',
  buttonSecond: 'Start Slideshow'
})
