+box-article({
  category: 'Culture',
  heading: 'How to trim your out of control mustache',
  description: 'I whipped the Scotch tape from my pocket and said',
  author: 'Jason George',
  time: '7 hours ago'
})
