+news-list({
  category: 'news'
})

+news-list({
  type: 'exclusive',
  time: '2 hours ago',
  description: 'Exclusive hell on Wheels Season 5 Episode 5 Preview Scene'
})

+news-list({
  type: 'post',
  time: '7 hours ago',
  description: 'The 2015 Post-San Diego Comic Con Guide'
})

+news-list({
  type: 'apple',
  time: '9 hours ago',
  description: 'Dear Apple,we need to talk about your ridiculous iPhone chargers'
})

+news-list({
  type: 'siri',
  time: '1 day ago',
  description: 'If you ask Siri what 0 divided by 0 is it gets brutal'
})

+news-list({
  type: 'finale',
  time: '1 day ago',
  description: 'Dr. Dre Compton review:a grand finale game changer'
})

+news-list({
  buttonName: 'All news'
})
