+slider({
  category: 'Food & Drink',
  title: 'Hella narwhal Cosby swea',
  description: 'A few years ago,the Roots were musing over how to make their music-industry career pay',
  buttonName: 'Read more'
})
