+video({
  name: 'The Big Black Book Spring',
  description: 'The Big Black Book Spring',
  duration: '12:00'
})

.grid__cell(class='1/4')
  +video({
    name: 'Behind The Scenes Video',
    description: 'Behind The Scenes Video',
    duration: '12:00'
  })

.grid__cell(class='1/4')
  +video({
    name: 'Michelin-starred French',
    description: 'Michelin-starred French',
    duration: '12:00'
  })

.grid__cell(class='1/4')
  +video({
    name: 'The Smartwatch Wars',
    description: 'The Smartwatch Wars',
    duration: '12:00'
  })
