.footer
  // Silk Magazine Details
  .container
    .grid__cell(class='1/4')
      img.logo(src='#', alt='Silk magazine' width ='#' height ='#')
      p

  // Information Links
  .container
    .grid__cell(class='1/4')
      h1 information
      ul.link-list-info
        li
          a(href='#') faqs
        li
          a(href='#') size guide
        li
          a(href='#') delivery info
        li
          a(href='#') return info
        li
          a(href='#') discounts
        li
          a(href='#') our stores

    // Accounts Links
  .container
    .grid__cell(class='1/4')
      h1 accounts
      ul.link-list-account
        li
        a(href='#') login
        li
        a(href='#') register
        li
        a(href='#') my cart
        li
        a(href='#') orders
        li
        a(href='#') wishlist

    // Contact us details
    .container
      .grid__cell(class='1/4')
        h1 contact us
        ul.links-list-details
          li 48 park avenue
          li East 21st Street,Apt.304
          li San Franciso
          li E-mail:support@diiim.com
          li Phone:415-515-6171
          li Phone:415-515-6171

    .container
      .grid.grid--left
        .grid__cell(class='1/4')
          .subfooter
            p © 2015 Silk UL Kit All rights reserved
