.nav.nav-main
  .nav.navbar-nav.navbar-center
  ul
    li
      a(href='#') news
    li
      a(href='#') style
    li
      a(href='#') food & drink
    li
      a(href='#') travel
    li
      a(href='#') sport
    li
      a(href='#') cars & moto
    li
      a(href='#') culture
    li
      a(href='#') video
    li
      a(href='#') archive
    li
      i.fa.fa-search.fa-2x(aria-hidden='true')
