//Google fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
//Variables
.article-badge {
    color: $color-badge;
}

h1 {
    font-family: $font-title;
    font-size: 32 px;
    color: $color-title;
}

p {}