.nav.nav-group
  .nav.navbar-nav.navbar-center
    img(src='#', alt='Cloud Weather')
    h1 new york Sunday,September 3,2015
    a(href='#', title='logo')
      img(src='#', alt='Silk Magazine')
    a.btn.btn-primary.btn-bordered(href='#') Log In

    include ../components/nav.pug



