@import './base/_colors.scss';
@import './base/_fonts.scss';
.box {
    background-color: $color-blue;
    width: 232 px;
    height: 342 px;
}

.img-badge {
    font-size: 12 px;
    font-family: $font-main;
    color: $color-white;
    //width: 32 px;
    //height: 103 px;
}

.article-head {}

.article-footer {}