@import './base/_colors.scss';
@import './base/_fonts.scss';
.box {
    background-color: $color-white;
    width: 370 px;
    height: 342 px;
}

.article-badge {
    font-size: 12 px;
    font-family: $font-main;
    color: $color-yellow;
    width: 32 px;
    height: 103 px;
}

.article-img {
    position: relative;
}

.article-body-heading {
    text-transform: capitalize;
    font-size: 32 px;
    font-family: $font-title;
    color: $color-black;
    width: 32 px;
    height: 103 px;
}

.article-body-description {
    text-transform: capitalize;
    font-size: 32 px;
    font-family: $font-secondary;
    color: $color-grey;
    width: 32 px;
    height: 103 px;
}

.article-footer-cars {
    font-family: $font-main;
    color: $color-grey;
    font-size: 15 px;
}

.btn-group {
    text-transform: capitalize;
    float: left;
    border: 1px $color-grey-lightest;
    border-radius: 12px;
}