include ../mixins/slider.pug
include ../mixins/box-article-main.pug
include ../mixins/box-article.pug
include ../mixins/news-list.pug
include ../mixins/video.pug
include ../mixins/box-article-style.pug

