  .img-badge .article-head
  .box
    .article-style
      .img-badge
        a(href='#')= category
        .img-body
          a(href='#')
            img.img-responsive(src='#', alt='Style Photo',width='#',height='#')

      .img-containt.text-left
        if category == 'Style'
          .article-head
            h1
              a(href='#')= description

          .article-footer
            a.btn.btn-secondary.btn-bordered(href='#')= buttonName

        else
          .article-head
            h1
              a(href='#')

      .article-footer
        a.btn.btn-secondary.btn-bordered(href='#')
