// $color-title: #333333;
// $color-badge: #e0a433;
//Variables
$color-black: #333333;
$color-white: #ffffff;
$color-grey :#9b9b9c;
$color-yellow:#e0a433;
$color-grey-light:#d9d9d9;
$color-grey-dark:#666666;