//Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//Variables
$font-main: 'Lato';
$font-title: 'Playfair Display';
$font-secondary: 'Open Sans';