meta(name='viewport', content='width=device-width, initial-scale=1')
title Magazine
link(rel='stylesheet', href='styles/global.css')
link(href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet")
link(href="path/to/font-awesome/css/font-awesome.min.css" rel="stylesheet")


